---
layout: page
title: "Women are better than men at investing – in nearly every age group"
order: 8
labels: Economy Investing Gender-inequality
techniques: Scrolly
explore_text: 'Explore how much money men and women of your age have in Avanza. Compare yourself with an average and a
median
person.'
explore_graph: <div class="flourish-embed" data-src="story/1735266/embed#slide-6"></div>
scrolly_graph: https://flo.uri.sh/story/1735266/embed#slide-0

steps:
- 'Women earned more than men in all age groups, except 91+, during the one year period to February 2022. On average,
women
made a 10% median Return on Investment while men made 4%.'
- 'Women in the age-group 18-30 earned six times more than men.'
- 'While women are better investors, they own only around a quarter of the total capital in Avanza, as of February 2022.
At the same 38% of Avanza customers are women.'
- 'On average, men have more capital than women already when they are 18. They reach 100k when they are 23 years, while
women reach that at 28, according to newer data from September 2022.'
- 'The capital for men and women increases with age — and so does the gap between them.'
- "An average man in his 70's has more than a million sek. They own two to three times more than women in the
respective age."
---


<div class="container-fluid">
    <div class="row py-5 gy-5 justify-content-center">
        {% include scrolly.html %}
    </div>
    <div class="row py-5 justify-content-center">
        <div class="col-lg-7 col-11">
            {% capture i %}{% include_relative reasons.md %}{% endcapture %}
            {{ i | markdownify }}
        </div>
    </div>
</div>
