---
layout: default
title: Some of my stories
---

<div class="container">
  <div class="row py-5  justify-content-center">
    <div class="col-11">
      <h5>Hello 👋,<br /><br />I’m <a href="{{ site.url }}/about">Karthik</a>, a visual journalist and a software
        developer,
        based
        in Stockholm. Explore some of my
        stories
        below.
      </h5>
      <br /><br />
    </div>
  </div>


  <div class="row row-cols-1 gy-5 justify-content-center">

    {% assign sorted_pages = site.pages | sort:"order" %}
    {% for i in sorted_pages %}
    {% if i.order %}
    <!-- order 0 won't be included -->

    <div class="col">
      <div class="card"
        onclick="window.open(location.href='{{ site.url }}/{{ i.path }}', '_blank', 'noopener,noreferrer')">
        <div class="row">

          <div class="col-md-4">
            {% if i.image %}
            <!-- default is gif -->
            <img src="{{ site.url }}{{ i.dir }}png.png" class="img-fluid rounded-start" alt="...">
            {% else i.image %}

            <img src="{{ site.url }}{{ i.dir }}gif.gif" class="img-fluid rounded-start" alt="...">
            {% endif %}
          </div>

          <div class="col">
            <div class="card-body">
              <p class="fs-5 fw-semibold"> {{ i.title }} </p>
              {% assign labels = i.labels | split: ' ' %}
              {% for t in labels %}
              <span class="badge">{{ t }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endif %}
    {% endfor %}


    {% for i in site.data.medium %}
    <div class="col">
      <div class="card" onclick="window.open(location.href='{{ i.link }}', '_blank', 'noopener,noreferrer')">
        <div class="row">
          <div class="col-md-4">
            <img src="{{ site.url }}/assets/images/{{ i.name }}.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col">
            <div class="card-body">
              <p class="fs-5 fw-semibold"> {{ i.title }} </p>
              {% for t in i.tags %}
              <span class="badge">{{ t.name }}</span>
              {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>



<footer class="d-flex justify-content-center align-items-center bg-light text-dark">
  This work is licensed under a Creative Commons Attribution-ShareAlike 4.0
  International License.
  <a rel=" license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License"
      src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
</footer>
