{% if i.link %}
<!-- external - medium -->
{% assign location = i.link %}
{% assign img_src = "/assets/images/" | append: i.name | append:".jpg" %}

{% else %}
<!-- internal -->
{% assign location = i.dir %}

{% if i.image %}
<!-- default is gif if there is no image -->
{% assign img_src = i.dir | append: "png.png" %}
{% assign img_alt = i.image_alt %}
{% else %}
{% assign img_src = i.dir | append: "gif.gif" %}
{% assign img_alt = "Animated image of the charts in the scrolly section of the article." %}
{% endif %}

{% endif %}

<div class="col-11">
    <div class="card" onclick="window.open(location.href='{{ location }}', '_blank', 'noopener,noreferrer')">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ img_src }}" class="card-img img-fluid rounded-start" style="width: 300px;height: 200px;"
                    alt="...">
            </div>

            <div class="col">
                <div class="card-body">
                    <p class="fs-5 fw-semibold"> {{ i.title }}</p>
                    {% assign labels = i.labels | split: ' ' %}
                    {% for t in labels %}
                    <span class="badge bg-primary bg-opacity-25">{{ t }}</span>
                    {% endfor %}

                    {% assign labels = i.techniques | split: ' ' %}
                    {% for t in labels %}
                    <span class="badge bg-success bg-opacity-25">{{ t }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
