<!-- <nav class="navbar navbar-expand bg-light"> -->
<!-- <a class="navbar-brand" aria-current="page" href="{{ '/' | absolute_url }}" target="_self">
<i class="fa fa-home" width="30" height="24"></i> -->
<!--
    <i style="font-size:24px" class="fa">&#xf015;</i>
    </a> -->
<!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        </div> -->

<ul class="nav navbar navbar-expand justify-content-center bg-light">
    <li class="nav-item"> <a class="nav-link text-dark" href="{{ '/' | absolute_url }}" target="_self">Home</a></li>
    <li class="nav-item"> <a class="nav-link text-dark" href="/sweden" target="_self">Sweden
            Edition</a></li>
    <li class="nav-item"> <a class="nav-link text-dark" href="/about" target="_self">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="https://twitter.com/@karthik_muth">
            <i class="fa">&#xf099;</i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="mailto:papanash.1987@gmail.com">
            <i class="fa">&#xf0e0;</i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="https://www.linkedin.com/in/papanash/">
            <i class="fa fa-linkedin"></i></a>
    </li>
</ul>
