<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
        <div class="navbar-nav">
            <!-- # ml-auto -->
            <a class="nav-link active" aria-current="page" href="{{ site.url }}" target="_self">Home</a>
            <a class="nav-link links" href="{{ site.url }}/swedish_elections" target="_self">Swedish elections
                2022</a>
            <a class="nav-link links" href="{{ site.url }}/about" target="_self">About</a>
        </div>

    </div>
</nav>
