---
layout: default
title: Sweden – explained visually
---

<div class="container">


    <div class="row row-cols-1 py-4 gy-5 justify-content-center">
        <div class="col-11">
            <br /><br />
            <p class="title">{{ page.title }}</p>
            <br /><br />
        </div>
        <p class="fst-italic text-secondary">Labels indicate the <span
                class="badge bg-primary bg-opacity-25">topics</span>
            of the
            stories and
            <span class="badge bg-success bg-opacity-25">techniques</span> used.
        </p>

        {% assign sorted_pages = site.pages | sort:"order" %}
        {% for i in sorted_pages %}
        <!-- order 0 = not published -->
        {% if i.order and i.edition == "Sweden" %}
        {% include card.html %}
        {% endif %}
        {% endfor %}

    </div>
</div>
