---
title: Burger
---

<!DOCTYPE html>

<html>

<head>
  {% include head.html %}
  <title>karthik | {{ page.title }}</title>
</head>

<body>
  {% include scripts.html %}
  <style>
    .left {
      width: 50%;
      position: sticky;
      top: 100px;
      left: 0%;

    }

    .right {
      top: 100px;
      padding-left: 50%;
    }

    @media (max-width: 768px) {
      .left {
        width: 33%;
      }

      .right {
        padding-left: 33%;
      }
    }

  </style>


  <div class="container p-5">

    <h1 class="text-center">Here is what you can eat instead of a beef burger
      <small class="text-muted">
        <br>– and how many times
        <br>for the same amount of nutrition
        <br>and carbon footprint
      </small>
    </h1>

    <div id="scrolly__section">
      <div class="col left">
        <img class="img-fluid" src="burger_equal.png"></img>
      </div>
      <div class="col right">
        <img class="img-fluid" src="meals2.png"></img>
      </div>
    </div>
  </div>


  <div class="row justify-content-center row2">
    <div class="col-lg-10">
      <div class="flourish-embed flourish-bar-chart-race" data-src="visualisation/11242685">
        <script src="https://public.flourish.studio/resources/embed.js"></script>
      </div>
    </div>
  </div>
  </div>

</body>

</html>
