---
layout: page
title: "Big-tech billionaires lost a quarter of their net worth - a lot less than their pandemic gains"
labels: Economy Super-rich
techniques: Scrolly
explore_text: 'Here you can compare the net-worth of the 8 billionaires. Hover over the lines to see the value for
2021.'
explore_graph: <div class="flourish-embed" data-src="story/1699169/embed#slide-6"></div>
scrolly_graph: https://flo.uri.sh/story/1699169/embed#slide-0

steps:
- '**Elon Musk** –the richest person in the world– lost $50 billion this year. Yet he is ten times richer than he was
before the pandemic hit.'
- '**Jeff Bezos** –the second richest person and founder of Amazon– also lost around $50 billion this year. Yet, he has
increased his net worth by a third during the pandemic.'
- '**Bill Gates** –co-founder of Microsoft– gave away $35 billion to his foundation in 2021. He has still added eight
billion dollars. He has been the richest person for 18 of the 24 years between 1995 to 2017.'
- 'Google founders: Larry Page and Sergey Brin and Oracle founder Larry Ellison have all seen more than 70% gains in
their values. Former Microsoft CEO Steve Ballmer has gained by 20%.'
- 'Even **Mark Zuckerberg**, who lost the most this year, is still a richer person now than he was before the pandemic
hit.'
---

{% include scripts_datawrapper.html %}

<div class="container-fluid">
  <div class="row py-5 gy-5 justify-content-center">
    <div class="col-lg-7 col-11">
      <iframe title="Big-tech billionaires nearly lost nearly $250 billion – that's just a third of their pandemic gain"
        aria-label="Stacked Column Chart" id="datawrapper-chart-vAeFV" src="https://datawrapper.dwcdn.net/vAeFV/1/"
        scrolling="no" frameborder="0" style="min-width: 100% !important; border: none;"></iframe>
    </div>

    {% include scrolly.html %}

  </div>
</div>
