<!DOCTYPE html>

<html>

<head>
    {% include head.html %}
    <title>karthik | {{ page.path }}</title>
</head>

<body>
    {% include navbar.html %}
    {% include scripts.html %}


    <div class="container py-5">
        <div class="row  justify-content-center">
            <div class="col-lg-7 col-11">
                <p class="text-h2">{{ page.title }}</p>
                <br /><br />
                <p class="text-body-2">
                    {% capture intro %}
                    {% include_relative intro.md %}
                    {% endcapture %}
                    {{ intro | markdownify }}
                </p>
            </div>
        </div>
    </div>


    {{ content }}

    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-11">
                <hr>
                <p class="text-body-2">
                    {% capture f %}
                    {% include feedback.md %}
                    {% endcapture %}
                    {{ f | markdownify }}
                </p>
                <p class="text-body-2">
                    {% capture outro %}
                    {% include_relative outro.md %}
                    {% endcapture %}
                    {{ outro | markdownify }}
                </p>
            </div>
        </div>
    </div>

    <script src="{{ site.url }}/assets/js/overlay.js"></script>


</body>

</html>
