<!DOCTYPE html>

<html>

<head>
    {% include head.html %}
    <!-- dir name is the slug of a page -->
    <title>Explained by Karthik | {{ page.title | truncatewords: 10 }}</title>
</head>

<body>
    {% include navbar.html %}
    {% include scripts.html %}

    <div class="row py-5 justify-content-center">
        <div class="col-lg-7 col-11">
            <p class="title">{{ page.title }}
                {% if page.subtitle %}
                <span><small class="text-muted">{{ page.subtitle }}</small></span>
                {% endif %}
            </p>

            {% if page.byline %}
            <p class="text-center">
                <span class="fw-semibold">By {{ page.byline }}</span> –
                <span>{{ page.published }}</span>
            </p>
            {% else %}
            <p class="text-center"><span class="fw-semibold">By Karthik Muthuswamy</span></p>
            {% endif %}

        </div>

        {% if page.image_main %}
        <figure class="figure">
            <img src="{{ page.dir }}{{ page.image_main }}" class="figure-img img-fluid" alt="{{ page.image_alt }}">
            <figcaption class="figure-caption text-center">{{ page.image_caption }}
            </figcaption>
        </figure>
        {% endif %}


        <div class="col-lg-7 col-11">
            <br /><br />
            {% capture intro %}
            {% include_relative intro.md %}
            {% endcapture %}
            {{ intro | markdownify }}
        </div>
    </div>


    <div class="container-fluid">
        <div class="row py-5 gy-5 justify-content-center">
            {{ content }}
        </div>
    </div>

    <!--explore, clapping, Related stories, feedback, method, vis credits -->
    <div class="container-fluid py-3">
        <div class="row justify-content-center gy-5">
            <!--explore-->
            {% if page.explore_text %}
            <div class="col-11">
                <hr>
                <p class="heading">Explore</p>
                <p>{{ page.explore_text }}</p>
                <div class="flourish-embed" data-src="{{ page.explore_graph }}"></div>

            </div>
            {% endif %}

            <div class="col-11">
                <hr>
                <p>Did you enjoy this story? Appreciate by clapping and share with others.</p>
                <applause-button url="{{ page.dir }}" multiclap="true" style="width: 44px; height: 44px;" />
            </div>


            <div class="col-11">
                {% capture md %}
                {% include_relative outro.md %}
                {% include feedback.md %}
                {% endcapture %}
                {{ md | markdownify }}

                {% if page.techniques contains "Scrolly" %}
                {{ "Visualisation made with [Flourish](https://flourish.studio/) and
                [Scrollama](https://pudding.cool/process/introducing-scrollama/)." | markdownify }}
                {% endif %}

            </div>

            {% assign r1 = site.pages | sort:"order" | where_exp: "item", "item.order > page.order" | first %}
            {% assign r2 = site.pages | sort:"order" | where_exp: "item", "item.order > page.order" | shift | first %}
            {% assign r_list = "" | split: ',' | push: r1 | push: r2 %}

            {% if r1.dir %}
            <p class="heading text-center py-5 fw-semibold"><b>You may also like</b></p>
            {% for i in r_list %}
            {% if i.dir %}
            {% include card.html %}
            {% endif %}
            {% endfor %}
            <div class="col-11">
                <p class="text-center">You can also check out my <a href="{{ '/' | absolute_url }}">other stories
                        here.</a></p>
                <div class="d-flex justify-content-end"> <a class="links" style="font-size:24px" href="#"
                        target="_self">🔝</a>
                </div>
            </div>
            {% endif %}



        </div>
    </div>

    {% if page.techniques contains "Scrolly" %}
    <script src="https://unpkg.com/d3@5.9.1/dist/d3.min.js"></script>
    <script src="https://unpkg.com/intersection-observer"></script>
    <script src="https://unpkg.com/scrollama"></script>
    <script src="https://public.flourish.studio/resources/embed.js"></script>
    <script src="/assets/js/overlay.js"></script>
    {% endif %}


    {% include footer.html %}
</body>

</html>
