<!DOCTYPE html>

<html>

<head>
    {% include head.html %}
    <!-- dir name is the slug of a page -->
    <title>karthik | {{ page.dir | slugify }}</title>
</head>

<body>
    {% include navbar.html %}
    {% include scripts.html %}

    <div class="row py-5 justify-content-center">
        <div class="col-lg-7 col-11">
            {% if page.subtitle %}
            <p class="title">{{ page.title }}<small class="text-muted">{{ page.subtitle }}</small></p>
            {% else %}
            <p class="title">{{ page.title }}</p>
            {% endif %}

            <br /><br />
            <p class="text">
                {% capture intro %}
                {% include_relative intro.md %}
                {% endcapture %}
                {{ intro | markdownify }}
            </p>
        </div>
    </div>


    {{ content }}

    <!-- clapping, Related stories, feedback, method, vis credits -->
    <div class="container-fluid py-3">
        <div class="row justify-content-center gy-5">
            <div class="col-lg-10">
                <hr>
                <p class="text">Did you enjoy this story? Appreciate by clapping and share with others.</p>
                <applause-button url="{{ site.url }}{{ page.dir }}" multiclap="true"
                    style="width: 44px; height: 44px;" />
            </div>

            {% assign r1 = site.pages | sort:"order" | where_exp: "item", "item.order > page.order" | first %}
            {% assign r2 = site.pages | sort:"order" | where_exp: "item", "item.order > page.order" | shift | first %}
            {% assign r_list = "" | split: ',' | push: r1 | push: r2 %}
            {% if r1.dir %}


            <div class="col-lg-10">
                <p class="heading text-center fw-semibold"><b>You may also like</b></p>
            </div>


            {% for i in r_list %}
            {% if i.dir %}

            {% if i.image %}
            {% assign img = "png.png" %}
            {% assign img_alt = i.image_alt %}
            {% else %}
            {% assign img = "gif.gif" %}
            {% assign img_alt = "Animated image of the charts in the scrolly section of the article." %}
            {% endif %}

            <div class="col-md-5 d-flex">
                <div class="card" onclick="location.href='{{ site.url }}{{ i.dir }}';">
                    <img src="{{ site.url }}{{ i.dir }}{{ img }}" class="card-img-top img-thumbnail"
                        alt="{{ img_alt }}">
                    <div class="card-body">
                        <p class="card-text fw-semibold"> {{ i.title }} </p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

            <hr>
            {% endif %}


            <div class="col-lg-10 col-11">

                <p class="text">
                    {% capture md %}
                    {% include feedback.md %}
                    {% include_relative outro.md %}
                    {% endcapture %}
                    {{ md | markdownify }}

                    {% if page.techniques contains "Scrolly" %}
                    {{ "Visualisation made with [Flourish](https://flourish.studio/) and Scrollama." | markdownify }}
                    {% endif %}
                </p>
                <div class="d-flex justify-content-end"> <a class="links" style="font-size:24px" href="#"
                        target="_self">🔝</a></div>
            </div>
        </div>
    </div>

    {% if page.techniques contains "Scrolly" %}
    <script src="https://unpkg.com/d3@5.9.1/dist/d3.min.js"></script>
    <script src="https://unpkg.com/intersection-observer"></script>
    <script src="https://unpkg.com/scrollama"></script>
    <script src="https://public.flourish.studio/resources/embed.js"></script>
    <script src="{{ site.url }}/assets/js/overlay.js"></script>
    {% endif %}


    {% include footer.html %}
</body>

</html>
