<!DOCTYPE html>

<html>

<head>
    {% include head.html %}
    <!-- dir name is the slug of a page -->
    <title>karthik | {{ page.dir | slugify }}</title>
</head>

<body>
    {% include navbar.html %}
    {% include scripts.html %}

    <div class="container py-5">
        <div class="row  justify-content-center">
            <div class="col-lg-8 col-11">
                <p class="title">{{ page.title }}</p>
                <br /><br />

                <p class="text">
                    {{ content }}
                </p>
            </div>
        </div>
    </div>

    {% include footer.html %}
</body>

</html>
